<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel = "stylesheet" href = "{% static 'styles.css' %}">
</head>
<body>
    <div class = "login">
        <div class="box">
        <h1>Login:</h1>
        <form method = "POST">
            <p><b>Username: <input type="text" name="username" placeholder="username" required></b></p>
            <p><b>Password: <input type="password" name="password" placeholder="password" required></b></p>
            {% csrf_token %}
            <div class="login__button">
                <p><input type="submit" value="login"></p>
            </div>
            <div class="error_msg">
                {% for message in messages %}
                    {{message}}
                {% endfor %}
            </div>
        </form>
    </div>
    </div>
</body>
</html>