{% extends 'base.html' %}

{% block body %}

<div class="enrollment_form">

    <div class="subjects__error">
        {% for message in messages %}
            {{message}}
        {% endfor %}
    </div>

    {% for subject in subjects %}
        <p><b>Naziv:</b> {{subject.name}} ({{subject.kod}})</p>
        <p><b>ECTS:</b> {{subject.ects}}</p>
        <p><b>Redovni semestar:</b> {{subject.sem_red}}</p>
        <p><b>Izvanredni semestar:</b> {{subject.sem_izv}}</p>
        <p><b>Izborni:</b> {{subject.izborni}}</p>
        <div class="subjects__buttons">
            <a href="/students/subjects_enroll/add/sub{{subject.id}}/stu{{id_stu}}">Add subject</a> 
        </div>
        
        <hr>
    {% endfor %}
</div>
{% endblock %}